.profile_info {
<<<<<<< HEAD
    /* display: inline-block;  */
    padding-left: 10px;
=======
    font-size: 20;
    margin-left: 10px;
}

.profile_title {
    display: inline-block;
}

hr {
    border-color: black;
>>>>>>> ce5180c7b119614c6f2e5bf2a8dc3f195ce82926
}

.char {
    border: 2px CanvasText;
    display: inline-block;
    border: CanvasText solid;
    background-color: lightgray;
    font-size: 15px;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    /* FROM DEMOS */
    border-radius: 10px;
    /* align-items: center; */
    text-align: center;
    width: 275px;
    margin: 20px;
}