.infor {
    font-size: 20;
    margin-left: 10px;
    margin-bottom: 5%;
}

hr {
    border-color: black;
}

.spacing {
    margin-left: 20px;
}

.results {
    width: 75%;
    border-collapse: collapse; 
    /* margin: 20px 0;  */
    font-size: 20px; 
    text-align: center; 
    margin: auto;
}

.results th {
    background-color: wheat;
    color: black; 
    font-weight: bold; 
    padding: 10px; 
    border: 2px solid darkslategrey;
    width: 25%;
}

.results td {
    padding: 10px; 
    border: 2px solid darkslategrey; 
    background-color: wheat;
    color: black;
}